@import "../sass-import-once";
@import "../props";
@include exports('wraps') {
  .horzContainer.wrap {
    @include flexWrap(wrap);
  }
  .vertContainer.wrap {
    @include flexWrap(wrap);
  }
}

///allows word-wrap of element children
.allowTextWrap {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  flex-wrap: wrap;
}